pipeline/DataFlowDemo.json
{
	"name": "DataFlowDemo",
	"properties": {
		"activities": [
			{
				"name": "MoveSourceToStaging",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "If Exist Truncate Staging Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \n\tCONCAT(c.FirstName, ' ', c.LastName) as CustomerName\n\t, c.SalesPerson\n       , l.OrderDate\n       , o.LineTotal\n       , o.OrderQty\n       , o.UnitPrice\n FROM SalesLT.SalesOrderDetail o\n JOIN SalesLT.SalesOrderHeader l\n   ON o.SalesOrderID = l.SalesOrderID\n JOIN SalesLT.Customer c\n   ON l.CustomerID = c.CustomerID\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CustomerName",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "CustomerName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "SalesPerson",
									"type": "String",
									"physicalType": "nvarchar"
								},
								"sink": {
									"name": "SalesPerson",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "OrderDate",
									"type": "DateTime",
									"physicalType": "datetime"
								},
								"sink": {
									"name": "OrderDate",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "LineTotal",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 6,
									"precision": 38
								},
								"sink": {
									"name": "LineTotal",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 3,
									"precision": 18
								}
							},
							{
								"source": {
									"name": "OrderQty",
									"type": "Int16",
									"physicalType": "smallint"
								},
								"sink": {
									"name": "Quantity",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "UnitPrice",
									"type": "Decimal",
									"physicalType": "money",
									"scale": 4,
									"precision": 19
								},
								"sink": {
									"name": "UnitPrice",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 3,
									"precision": 18
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SourceSQL",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SourceSQL",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "If Exist Truncate Staging Table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[staging].[usp_ifTableExists]",
					"storedProcedureParameters": {
						"TableName": {
							"value": {
								"value": "@variables('TableName')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "TableName",
					"value": "CustomerReport"
				}
			},
			{
				"name": "DataFlowTest001",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "MoveSourceToStaging",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DataFlowTest001",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"variables": {
			"TableName": {
				"type": "String",
				"defaultValue": "CustomerReport"
			}
		},
		"annotations": [],
		"lastPublishTime": "2020-12-26T05:47:42Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}